* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
.header {
  background: rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 50px;
}

.logo {
  height: 45px;
}

nav a {
  color: #fff;
  margin-left: 25px;
  text-decoration: none;
  font-size: 14px;
}

nav a.active {
  color: #4da3ff;
}

/* BANNER */
.banner {
  background: url("fibocs.jpg") center/cover no-repeat;
  height: 350px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  margin-top: 70px;
}

.banner-text {
  max-width: 500px;
}

.banner h1 {
  font-size: 48px;
  color: #000;
}

.banner p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* GREEN BAR */
.green-bar {
  height: 10px;
  background: #2db03c;
  width: 70%;
}

/* CONTENT */
.content {
  padding: 60px 80px;
}

.intro {
  font-size: 20px;
  margin-bottom: 40px;
}

.about-box {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.about-box img {
  width: 200px;%;
}

.quote h2 {
  color: #1f6db5;
  font-size: 28px;
}

.quote-text {
  font-size: 22px;
  color: #6bbfb0;
  margin-top: 15px;
}

.text-section p {
  margin-bottom: ;: 18px;
  line-height: 1.6;
  font-size: 15px;
}

.text-section a {
  color: #1f6db5;
  text-decoration: none;
}

/* FOOTER */
.footer {
  background: #2e2e2e;
  color: #edeaea;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 14px;
}

/*   mobile view */
