* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  background: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  top: 0;
}

.nav {
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  height: 40px;
  margin-right: auto;
}

.nav ul {
  display: flex;
  list-style: none;
  color: #fff;
}
.nav ul {
  
}
.nav ul li {
  color: #fff;
  margin-left: 25px;
  cursor: pointer;
}

.nav ul .active {
  color: #4fa3ff;
}

/* HERO */
.hero {
  background: url("images.jfif") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
  color: white;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 300;
}

.hero-content p {
  width: 500px;
  margin: 20px 0;
}

.hero-content a {
  color: white;
  text-decoration: none;
}

/* RED STRIP */
.highlight {
  background: #0a0a0a;
  color: white;
  padding: 40px;
  text-align: center;
}

/* CONTENT */
.content {
  display: flex;
  padding: 60px 80px;
  gap: 60px;
}

.left {
  width: 60%;
}

.cards {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.card img {
  width: 100%;
}

.card h3 {
  margin-top: 15px;
}

.card a {
  text-decoration: none;
  color: #3b6db3;
}

/* RIGHT */
.right {
  width: 40%;
}

.service-box {
  display: flex;
  background: #f3f3f3;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

.service-box span {
  font-size: 30px;
  margin-right: 15px;
}

/* FOOTER */
footer {
  background: #333;
  color: #aaa;
  text-align: center;
  padding: 20px;
}